<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MindEase | Mental Wellness Made Easy</title>
    <link
      rel="shortcut icon"
      href="/Logos/MindEase-removebg.png"
      type="image/x-icon"
    />
    
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-0GLJjKp//MZEV8fZq4+J2U5z6U5fW8Rqb0S5OpeEwjlJwdLQ2g0vZUJ+JfWy9cJ0Wg+IvCp7mHdAIOJb7DAbLg==" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/doctors.css" />
    
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__logo">
        <img src="/Logos/MindEase-removebg.png" alt="" />
      </div>
      
      <ul class="navbar__list">
        <li class="navbar_item"><a class="navbar_link" href="/index">Home</a></li>
        <li class="navbar_item"><a class="navbar_link" href="#">Blogs</a></li>
        <li class="navbar__item">
          <a class="navbar__link" href="/consult">Consult</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/dashboard">My Dashboard</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="/signin">Account</a>
        </li>
      </ul>
    </nav>

    <!DOCTYPE html>
<html>
<head>
	<title>Therapists</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="heading">Recommended Therapists...</div>
	<div class="therapists-container">
		<div class="therapist-card">
    <form action="/therapist1" method="post">
			<img src="/Images/therapist_img/photo_2023-01-03_22-18-35.jpg" alt="Therapist 1">
			<h2>Yash Pali</h2>
			<p>Hello, I'm Yash Pali and I'm a licensed therapist with over 10 years of experience helping individuals and couples navigate through life's challenges. My approach is collaborative and solution-focused, meaning that we work together to develop practical strategies that can help you achieve your goals and improve your overall well-being.</p>
			<button class="book-appointment-btn" id="open-dialog" type="submit">Book Appointment</button>
    </form>
		</div>


		<div class="therapist-card">
			<img src="/Images/therapist_img/ff.jpeg" alt="Therapist 2">
			<h2>Aditya Shukla</h2>
			<p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<button class="book-appointment-btn" id="open-dialog" onclick="showAvailability('Aditya Shukla')">Book Appointment</button>
		</div>

		<div class="therapist-card">
			<img src="/Images/therapist_img/photo_2023-01-03_22-18-49.jpg" alt="Therapist 3">
			<h2>Digant Chaubey</h2>
			<p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<button class="book-appointment-btn" id="open-dialog" onclick="showAvailability('Digant Chaubey')">Book Appointment</button>
		</div>

        <div class="therapist-card">
			<img src="/Images/therapist_img/photo_2023-01-03_22-18-52.jpg" alt="Therapist 4">
			<h2>Divakar Jaiswal</h2>
			<p>About: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<button class="book-appointment-btn" id="open-dialog" onclick="showAvailability('Divakar Jaiswal')">Book Appointment</button>
		</div>

	</div>


  <!-- <div id="appointment-dialog" class="dialog">
    <div class="dialog-header">
      <h3>Book an Appointment with <span id="therapistName"></span></h3>
      <div class="dialog-close">&times;</div>
    </div>
    
    <div class="dialog-body">
      <div class="date-bar">
        <button class="date-option" data-date="2022-05-01" value="2022-05-01" id="date1">May 1, 2022</button>
        <button class="date-option" data-date="2022-05-02">May 2, 2022</button>
        <button class="date-option" data-date="2022-05-03">May 3, 2022</button>
        <button class="date-option" data-date="2022-05-04">May 4, 2022</button>
        <button class="date-option" data-date="2022-05-05">May 5, 2022</button>
      </div>
      
      <div class="time-slots">
        <h4>Available Time Slots</h4>
        <div class="time-slot-row">
          <button class="time-slot">08:00 AM - 10:00 AM</button>
          <button class="time-slot">10:00 AM - 12:00 PM</button>
          
        </div>
        <div class="time-slot-row">
          <button class="time-slot">12:00 PM - 02:00 PM</button>
          <button class="time-slot">02:00 PM - 04:00 PM</button>
        </div>
        <div class="time-slot-row">
          <button class="time-slot">04:00 PM - 06:00 PM</button>
          <button class="time-slot">06:00 PM - 08:00 PM</button>
          <button class="time-slot">08:00 PM - 10:00 PM</button>
        </div>
      </div>
      
      <div class="confirm-booking">
        <button>Confirm Booking</button>
      </div>
    </div>
  </div> -->
    
<!-- Confirmation dialog -->
<!-- <div id="confirmation-dialog" class="dialog">
  <div class="dialog-header">
    <h3>Appointment Confirmed</h3>
    <div class="dialog-close">&times;</div>
  </div>
  <div class="dialog-body">
    <p id="confirmation-message"></p>
  </div>
</div> -->





    <footer>
        <div class="container">
          <div class="footer-row">
            <div class="footer-column">
              <h4>About Us</h4>
              <p>MindEase is a mental health organization dedicated to helping people overcome stress, anxiety, and depression.</p>
            </div>
            <div class="footer-column">
              <h4>Contact Us</h4>
              <ul>
                <li>Phone: 555-555-5555</li>
                <li>Email: info@mindease.com</li>
                <li>Address: 123 Main Street, Anytown USA</li>
              </ul>
            </div>
            <div class="footer-column">
              <h4>Connect With Us</h4>
              <ul>
                <li><a href="#"><i style="margin-right: 1.2em;" class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i style="margin-right: 0.9em;" class="fa fa-instagram"></i> Instagram</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h4>Subscribe to our Newsletter</h4>
              <form>
                <input type="email" placeholder="Enter your email" required>
                <button type="submit">Subscribe</button>
              </form>
            </div>
          </div>
          <div class="footer-row">
            <div class="footer-column">
              <div class="footer-bottom">
              <a href="#"> Terms & Conditions</a>
              <a href="#"> Privacy Policy</a>
              <p>&copy; 2023 MindEase. All rights reserved.</p>
            </div>
            </div>
          </div>
        </div>
      </footer>
      
      


      

    <script src="https://use.fontawesome.com/1744f3f671.js"></script>
  
  
  <script src="/javasc/doctors.js"></script>
  
</body>
</html>